@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

.hide{
  opacity: 0;
  filter: blur(5px);
  transform: translateY(10%);
  transition: all 1s;
}
.hide_2{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-10%);
  transition: all 1s;
}
.hide_3{
opacity: 0;
filter: blur(5px);
transform: translateX(10%);
transition: all 1s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}
.show_2{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

